[Unit]
Description=OpenCode Web Interface
After=network.target

[Service]
Type=simple
User=__USER__
Group=__USER__
WorkingDirectory=__HOME__
Environment=OPENCODE_SERVER_USERNAME=opencode
Environment=OPENCODE_SERVER_PASSWORD=__PASSWORD__
ExecStart=__OPCODE_BIN__ web --hostname 0.0.0.0 --port __PORT__
Restart=always
TasksMax=256
MemoryMax=1100M
MemoryHigh=700M
RestartSec=3
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
